.main__button {
    border-radius: 50px;
    border: 1px;
    font-family: $r-light;
    font-size: $medium;
    color: $white;
    padding: .5rem;
    background-color: $nickel;
    border-color: $nickel;
    &:hover {
        background-color: $light-gray;
    }
    &:focus {
        border-color: $platinum;
    }
}