.pagination {
    background-color: $light-gray;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pagination__menu a{
    font: $roboto;
    font-weight: $r-light;
}

.page-item{
    border: 1px;
    border-color: $raisin-black;
    color: $white;
}
.page-link{
    color: $raisin-black;
    text-decoration: none;
    &:hover {
        background-color: $nickel;
        color: $white;
    }
}